:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 100px auto;
  max-width: 1300px;
}
.about-body {
  max-width: 100%;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
  font-family: sans-serif;
  opacity: 0.9;
}

h2 {
  font-size: 48px;
  font-family: sans-serif;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}
.about-h1 {
  font-size: 96px;
  font-family: sans-serif;
  font-weight: 600;
}
.yoga-para {
  font-size: 20px;
  line-height: 1.5;
}
.yoga-h2 {
  font-weight: 600;
  text-align: left;
  font-size: 48px;
  margin-top: 25px;
}
.yoga-button {
  padding: 10px;
  background-color: var(--primary-color);
  border: none;
  color: white;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  text-decoration: none;
}
.yoga-button:hover {
  color: blue;
}
.about-intro {
  margin: 30px 0px;
  text-align: center;
  font-size: 20px;
}
/* p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
} */

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
#contact {
  margin-top: 40px;
  font-family: sans-serif;
  font-weight: 700;
}
.cont-size {
  max-width: 90%;
}
@media (max-width: 500) {
  body {
    max-width: 400px;
  }
  img {
    display: none;
  }
}
